.navbar {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  z-index: 100 !important;
  height: 72px;
  z-index: 5;
  color: white;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
}

.logo {
  width: 120px;
}

.navLeftSection {
  gap: 1rem;
}

.button {
  font-weight: 400 !important;
  width: 200px !important;
  height: 46px !important;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to bottom right, rgb(207, 207, 207), rgb(28, 28, 28))
      border-box !important;
  border-radius: 50px !important;
  border: 1px solid transparent !important;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
}

.button:hover {
  border: 1px solid transparent !important;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.searchbar {
  box-sizing: border-box;
  width: 40%;
  height: 45px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 0 1.5rem;
}

.searchInput {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: transparent !important;
  border: none !important;
  color: #ffffff !important;
  font-size: 24px;
  line-height: 30px;
  padding: 0 20px;
  font-family: "Jost";
}

.searchInput:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.searchInput:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.rightSection {
  width: 140px;
  align-items: flex-end !important;
}

.icon {
  color: white !important;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 2;
}

.icon:hover {
  opacity: 1;
  z-index: 2;
}
